html {
    height: 100%; 
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, #ffecd2 0%, #fcb69f 100%); 
}

body {
    min-height: 100%; 
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #333;
    display: flex;
    flex-direction: column; 
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    background: rgba(255, 255, 255, 0.95);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    flex: 1; 
}

header, footer {
    text-align: center;
    padding: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.graph-placeholder, .map-placeholder {
    background-color: #eee;
    width: 90%;
    height: 30%; 
    margin-top: 20px;
    border: 2px solid #666;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: #444;
}

#tooltip {
    position: absolute;
    visibility: hidden;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    pointer-events: none; 
}
